baxi-node-red-flow.json
[{"id":"4aace384d33f0310","type":"tab","label":"BAXI","disabled":false,"info":"","env":[]},{"id":"ec8b216482efd6c2","type":"http request","z":"4aace384d33f0310","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":140,"wires":[["d66306c76fd93073","a02e3a0eb10b9358"]]},{"id":"b4cbea8f6696c211","type":"inject","z":"4aace384d33f0310","name":"get token","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["be0ef6e2aec1f7a5"]]},{"id":"d66306c76fd93073","type":"debug","z":"4aace384d33f0310","name":"response step1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":140,"wires":[]},{"id":"a02e3a0eb10b9358","type":"function","z":"4aace384d33f0310","name":"Step 2","func":"var email = \"your@email.com\";\nvar password = \"yourpassword\";\nvar request_id = msg.headers[\"x-request-id\"]\nvar state_properties_json = JSON.stringify({ \"TID\": request_id });\nvar state_properties = Buffer.from(state_properties_json, \"ascii\")\n    .toString(\"base64\")\n    .replace(/=/g, \"\")\n    .replace(/\\+/g, \"-\")\n    .replace(/\\//g, \"_\");\nflow.set(\"state_properties\", state_properties)\nvar csrf_token = msg.responseCookies[\"x-ms-cpim-csrf\"].value\nflow.set(\"csrf_token\", csrf_token)\nvar cookies = msg.headers[\"set-cookie\"]\nflow.set(\"cookies\", cookies)\nmsg.responseUrl = {}\nmsg.url = \"https://baxilogin.bdrthermea.net/bdrb2cprod.onmicrosoft.com/B2C_1A_RPSignUpSignInNewRoomv3.1/SelfAsserted?tx=StateProperties=\"+ state_properties+\"&p=B2C_1A_RPSignUpSignInNewRoomv3.1\"\nmsg.headers = {};\nmsg.headers = {\n    'Cookie': cookies,\n    'x-csrf-token': csrf_token,\n    'content-type': 'application/x-www-form-urlencoded'\n}\n\nmsg.payload = {};\nmsg.payload = {\n    request_type:\"RESPONSE\",\n    signInName:email,\n    password:password\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":200,"wires":[["50e9e7cea307c7c1"]]},{"id":"50e9e7cea307c7c1","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":200,"wires":[["eca5e40a1852cb1f","00906884357143c8"]]},{"id":"eca5e40a1852cb1f","type":"debug","z":"4aace384d33f0310","name":"response step 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":200,"wires":[]},{"id":"be0ef6e2aec1f7a5","type":"function","z":"4aace384d33f0310","name":"Step 1","func":"var random_state = \"Fd3--uca4ZBU7MbGlg-jMd5nyCoWkPt6~VH3lXdPTdsmZHLl38K5hnqIcWcNFcPYOlqgpyt6kfo5.07SR59-5OPBbsd9Xx4xECBVVIzLvf_6blEc3keeFI-Qz2rMCbcB\"\nvar code_challenge = \"vq9P5gBFXhxAdP1UL39VbhAfPxHwQLi-4od763H3sIw\"\nflow.set(\"code_challenge\", code_challenge)\nmsg.url = \"https://baxilogin.bdrthermea.net/bdrb2cprod.onmicrosoft.com/oauth2/v2.0/authorize?response_type=code&client_id=6ce007c6-0628-419e-88f4-bee2e6418eec&redirect_uri=com.b2c.baxiapp://login-callback&scope=openid https://bdrb2cprod.onmicrosoft.com/iotdevice/user_impersonation offline_access&state=\" + random_state + \"&code_challenge=\" + code_challenge+ \"&code_challenge_method=S256&p=B2C_1A_RPSignUpSignInNewRoomV3.1&brand=baxi&lang=en&nonce=defaultNonce&prompt=login&signUp=False\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":140,"wires":[["ec8b216482efd6c2"]]},{"id":"00906884357143c8","type":"function","z":"4aace384d33f0310","name":"Step 3","func":"var csrf_token = flow.get(\"csrf_token\")\nvar state_properties = flow.get(\"state_properties\")\nvar cookies_old = flow.get(\"cookies\")\nvar cookies = msg.headers[\"set-cookie\"]\nvar cookies = cookies_old.concat(cookies)\nflow.set(\"cookies\", cookies)\nmsg.headers = {\n    'Cookie': cookies\n}\nmsg.url = \"https://baxilogin.bdrthermea.net/bdrb2cprod.onmicrosoft.com/B2C_1A_RPSignUpSignInNewRoomv3.1/api/CombinedSigninAndSignup/confirmed?rememberMe=false&csrf_token=\"+ csrf_token +\"&tx=StateProperties=\"+state_properties+\"&p=B2C_1A_RPSignUpSignInNewRoomv3.1\"\nmsg.followRedirects = false\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":260,"wires":[["de6e0b4b541359fc"]]},{"id":"59e8b366c456295e","type":"debug","z":"4aace384d33f0310","name":"response step 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":260,"wires":[]},{"id":"de6e0b4b541359fc","type":"http request","z":"4aace384d33f0310","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":260,"wires":[["59e8b366c456295e","3ce5ea05cbfe5dc6"]]},{"id":"3ce5ea05cbfe5dc6","type":"function","z":"4aace384d33f0310","name":"Step 4","func":"var code = String(msg.headers.location)\ncode = code.split(\"code=\")\ncode = code[1]\nflow.set(\"code\",code)\nvar code_challenge = flow.get(\"code_challenge\")\nvar cookies_old = flow.get(\"cookies\")\nvar cookies = msg.headers[\"set-cookie\"]\nvar cookies = cookies_old.concat(cookies)\nflow.set(\"cookies\", cookies)\nmsg.headers = {}\nmsg.headers = {\n    /*'Cookie': cookies,*/\n    'content-type': 'application/x-www-form-urlencoded'\n}\nmsg.url = \"https://baxilogin.bdrthermea.net/bdrb2cprod.onmicrosoft.com/oauth2/v2.0/token?p=B2C_1A_RPSignUpSignInNewRoomV3.1\"\nmsg.payload = {};\nmsg.payload = {\n    \"grant_type\":\"authorization_code\",\n    \"code\":code,\n    \"redirect_uri\":\"com.b2c.baxiapp://login-callback\",\n    \"code_verifier\":\"Fd3--uca4ZBU7MbGlg-jMd5nyCoWkPt6~VH3lXdPTdsmZHLl38K5hnqIcWcNFcPYOlqgpyt6kfo5.07SR59-5OPBbsd9Xx4xECBVVIzLvf_6blEc3keeFI-Qz2rMCbcB\",\n    \"client_id\":\"6ce007c6-0628-419e-88f4-bee2e6418eec\",\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":320,"wires":[["bbb307c010fddc1f"]]},{"id":"bbb307c010fddc1f","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":320,"wires":[["5b6864f58e2c1174","290fa7ebf71288a6"]]},{"id":"5b6864f58e2c1174","type":"debug","z":"4aace384d33f0310","name":"token","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"d3f6d33b0e8cc466","type":"function","z":"4aace384d33f0310","name":"store tokens","func":"var access_token = msg.payload.access_token;\nvar refresh_token = msg.payload.refresh_token;\nflow.set(\"refresh_token\", refresh_token)\nflow.set(\"access_token\", access_token)\n\nmsg.payload = {\n    access_token,\n    refresh_token\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":420,"wires":[[]]},{"id":"290fa7ebf71288a6","type":"json","z":"4aace384d33f0310","name":"","property":"payload","action":"","pretty":false,"x":650,"y":420,"wires":[["d3f6d33b0e8cc466"]]},{"id":"e6e496e805dafb63","type":"debug","z":"4aace384d33f0310","name":"token","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"3227b2e060dbef31","type":"function","z":"4aace384d33f0310","name":"POST Data","func":"var refresh_token = flow.get(\"refresh_token\")\nmsg.headers = {}\nmsg.headers = {\n    'content-type': 'application/x-www-form-urlencoded'\n}\nmsg.url = \"https://baxilogin.bdrthermea.net/bdrb2cprod.onmicrosoft.com/oauth2/v2.0/token?p=B2C_1A_RPSignUpSignInNewRoomV3.1\"\nmsg.payload = {};\nmsg.payload = {\n    \"grant_type\": \"refresh_token\",\n    \"refresh_token\": refresh_token,\n    \"client_id\": \"6ce007c6-0628-419e-88f4-bee2e6418eec\"\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":520,"wires":[["35b568ce2cb45506"]]},{"id":"35b568ce2cb45506","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":470,"y":520,"wires":[["290fa7ebf71288a6","e6e496e805dafb63"]]},{"id":"97efbf591bb00ab6","type":"inject","z":"4aace384d33f0310","name":"Refresh token","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":520,"wires":[["3227b2e060dbef31"]]},{"id":"9fb14412dbab71a7","type":"json","z":"4aace384d33f0310","name":"","property":"payload","action":"","pretty":false,"x":650,"y":660,"wires":[["4d3e444efcf8143b","a17a26aa6fbaa9e9"]]},{"id":"b1a87eb50e468671","type":"function","z":"4aace384d33f0310","name":"GET Data","func":"var access_token = flow.get(\"access_token\")\nmsg.headers = {}\nmsg.headers = {\n    \"Ocp-Apim-Subscription-Key\":\"df605c5470d846fc91e848b1cc653ddf\",\n    \"Authorization\": \"Bearer \" + access_token\n}\nmsg.url = \"https://api.bdrthermea.net/Mobile/api/homes/dashboard\"\nmsg.payload = {};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":660,"wires":[["82db9c8c2e88e805"]]},{"id":"82db9c8c2e88e805","type":"http request","z":"4aace384d33f0310","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":660,"wires":[["9fb14412dbab71a7"]]},{"id":"c929f85daa46ae9b","type":"inject","z":"4aace384d33f0310","name":"Get Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":660,"wires":[["b1a87eb50e468671"]]},{"id":"4d3e444efcf8143b","type":"debug","z":"4aace384d33f0310","name":"data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":620,"wires":[]},{"id":"a17a26aa6fbaa9e9","type":"function","z":"4aace384d33f0310","name":"handling & store data","func":"var home_temperature = msg.payload.appliances[0].climateZones[0].roomTemperature\nvar thermostat_set_point = msg.payload.appliances[0].climateZones[0].setPoint\nvar thermostat_mode = msg.payload.appliances[0].climateZones[0].zoneMode\nvar water_temp = msg.payload.appliances[0].hotWaterZones[0].dhwTemperature\nvar water_pressure = msg.payload.appliances[0].waterPressure\nvar active_thermal_mode = msg.payload.appliances[0].activeThermalMode\nvar thermostat_active_comfort_demand = msg.payload.appliances[0].climateZones[0].activeComfortDemand\nvar cloud_outdoor_temperature = msg.payload.appliances[0].outdoorTemperatureInformation.cloudOutdoorTemperature\nvar climate_zone_id = msg.payload.appliances[0].climateZones[0].climateZoneId\n\nglobal.set('home_temperature', home_temperature);\nglobal.set('thermostat_set_point', thermostat_set_point);\nglobal.set('thermostat_mode', thermostat_mode); //FrostProtection, Manual, Scheduling, TemporaryOverride\nflow.set(\"climate_zone_id\", climate_zone_id);\n\nvar heating_home_bool;\nif (thermostat_active_comfort_demand == \"ProducingHeat\"){ \n    heating_home_bool = 1;\n} else {\n    heating_home_bool = 0;\n}\n\nvar heating_hot_water_bool;\nif (active_thermal_mode == \"HeatingDHW\") {\n    heating_hot_water_bool = 1;\n} else {\n    heating_hot_water_bool = 0;\n}\n\nmsg.payload.home_temperature = home_temperature;\nmsg.payload.active_thermal_mode = active_thermal_mode;\nmsg.payload.thermostat_active_comfort_demand = thermostat_active_comfort_demand;\nmsg.payload.heating_home_bool = heating_home_bool;\nmsg.payload.heating_hot_water_bool = heating_hot_water_bool;\nmsg.payload.thermostat_set_point = thermostat_set_point;\nmsg.payload.thermostat_mode = thermostat_mode;\nmsg.payload.water_temp = water_temp\nmsg.payload.cloud_outdoor_temperature = cloud_outdoor_temperature\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":660,"wires":[["9f1ed989cb121335","2624a730611531c5","4c3804581f0511cc","2907747201cb0901","d87fa97ee6d25fbf"]]},{"id":"9f1ed989cb121335","type":"ui_text","z":"4aace384d33f0310","group":"9976b5302beaee3d","order":3,"width":0,"height":0,"name":"","label":"home temperature","format":"{{msg.payload.home_temperature}}","layout":"col-center","className":"","x":1110,"y":540,"wires":[]},{"id":"4c3804581f0511cc","type":"ui_text","z":"4aace384d33f0310","group":"9976b5302beaee3d","order":6,"width":0,"height":0,"name":"","label":"mode","format":"{{msg.payload.thermostat_mode}}","layout":"col-center","className":"","x":1070,"y":580,"wires":[]},{"id":"2624a730611531c5","type":"ui_text","z":"4aace384d33f0310","group":"9976b5302beaee3d","order":10,"width":0,"height":0,"name":"","label":"Setpoint °C","format":"{{msg.payload.thermostat_set_point}}","layout":"col-center","className":"","x":1090,"y":660,"wires":[]},{"id":"2907747201cb0901","type":"ui_text","z":"4aace384d33f0310","group":"9976b5302beaee3d","order":13,"width":0,"height":0,"name":"","label":"Water temp","format":"{{msg.payload.water_temp}}","layout":"col-center","className":"","x":1090,"y":700,"wires":[]},{"id":"044fae3765af88d8","type":"debug","z":"4aace384d33f0310","name":"response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":760,"wires":[]},{"id":"d50a7238507fa88f","type":"function","z":"4aace384d33f0310","name":"POST data","func":"var access_token = flow.get(\"access_token\")\nvar temp = msg.payload\nvar climate_zone_id = flow.get(\"climate_zone_id\")\nmsg.headers = {}\nmsg.headers = {\n    \"Ocp-Apim-Subscription-Key\":\"df605c5470d846fc91e848b1cc653ddf\",\n    \"Authorization\": \"Bearer \" + access_token\n}\nmsg.url = \"https://api.bdrthermea.net/Mobile/api/climate-zones/\" + climate_zone_id +\"/modes/manual\"\nmsg.payload = {\n    \"roomTemperatureSetPoint\":temp\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":760,"wires":[["e3210fcde4760cfd"]]},{"id":"e3210fcde4760cfd","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":480,"y":760,"wires":[["044fae3765af88d8"]]},{"id":"ab6eb0efab87aa06","type":"inject","z":"4aace384d33f0310","name":"Set 18°","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":110,"y":760,"wires":[["d50a7238507fa88f"]]},{"id":"dce170ee473cf9a1","type":"debug","z":"4aace384d33f0310","name":"response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":960,"wires":[]},{"id":"82655ef6c37f3082","type":"function","z":"4aace384d33f0310","name":"POST data","func":"var access_token = flow.get(\"access_token\")\nvar climate_zone_id = flow.get(\"climate_zone_id\")\nmsg.headers = {}\nmsg.headers = {\n    \"Ocp-Apim-Subscription-Key\":\"df605c5470d846fc91e848b1cc653ddf\",\n    \"Authorization\": \"Bearer \" + access_token\n}\nmsg.url = \"https://api.bdrthermea.net/Mobile/api/climate-zones/\" + climate_zone_id +\"/modes/schedule\"\nmsg.payload = {\n    \"heatingProgramId\": 1\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":960,"wires":[["d1e5d6acdbb7b74d"]]},{"id":"d1e5d6acdbb7b74d","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":960,"wires":[["dce170ee473cf9a1"]]},{"id":"67305575272131da","type":"inject","z":"4aace384d33f0310","name":"reset to schedule","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":960,"wires":[["82655ef6c37f3082"]]},{"id":"b2b376935448285f","type":"debug","z":"4aace384d33f0310","name":"response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1060,"wires":[]},{"id":"ebe7801c14b336d9","type":"function","z":"4aace384d33f0310","name":"POST data","func":"var access_token = flow.get(\"access_token\")\nvar climate_zone_id = flow.get(\"climate_zone_id\")\nmsg.headers = {}\nmsg.headers = {\n    \"Ocp-Apim-Subscription-Key\":\"df605c5470d846fc91e848b1cc653ddf\",\n    \"Authorization\": \"Bearer \" + access_token\n}\nmsg.url = \"https://api.bdrthermea.net/Mobile/api/climate-zones/\" + climate_zone_id +\"/modes/anti-frost\"\nmsg.payload = {};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1060,"wires":[["a186534a7d214518"]]},{"id":"a186534a7d214518","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":1060,"wires":[["b2b376935448285f"]]},{"id":"23131ef9afe13107","type":"inject","z":"4aace384d33f0310","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1060,"wires":[["ebe7801c14b336d9"]]},{"id":"8954dd03ee27ea81","type":"debug","z":"4aace384d33f0310","name":"response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":860,"wires":[]},{"id":"0c1808a814ccb535","type":"function","z":"4aace384d33f0310","name":"POST data","func":"var access_token = flow.get(\"access_token\")\nvar temp = msg.payload\nvar climate_zone_id = flow.get(\"climate_zone_id\")\nmsg.headers = {}\nmsg.headers = {\n    \"Ocp-Apim-Subscription-Key\":\"df605c5470d846fc91e848b1cc653ddf\",\n    \"Authorization\": \"Bearer \" + access_token\n}\nmsg.url = \"https://api.bdrthermea.net/Mobile/api/climate-zones/\" + climate_zone_id +\"/modes/temporary-override\"\nmsg.payload = {\n    \"roomTemperatureSetPoint\":temp\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":860,"wires":[["2f7de25a1b647218"]]},{"id":"2f7de25a1b647218","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":480,"y":860,"wires":[["8954dd03ee27ea81"]]},{"id":"854d52284e84901f","type":"inject","z":"4aace384d33f0310","name":"Set 18°","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":110,"y":860,"wires":[["0c1808a814ccb535"]]},{"id":"edd53534e2fc8297","type":"comment","z":"4aace384d33f0310","name":"manual","info":"","x":90,"y":720,"wires":[]},{"id":"88bfee3f441b2170","type":"comment","z":"4aace384d33f0310","name":"temporary-override","info":"","x":130,"y":820,"wires":[]},{"id":"ba0b30100b61cc67","type":"comment","z":"4aace384d33f0310","name":"schedule","info":"","x":100,"y":920,"wires":[]},{"id":"eed9bb034ffa913c","type":"comment","z":"4aace384d33f0310","name":"anti-frost","info":"","x":100,"y":1020,"wires":[]},{"id":"48ecc388edde1a4c","type":"debug","z":"4aace384d33f0310","name":"response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1160,"wires":[]},{"id":"03b55e43ead3ca61","type":"function","z":"4aace384d33f0310","name":"POST data","func":"var access_token = flow.get(\"access_token\")\nvar fireplace_mode = msg.payload\nvar climate_zone_id = flow.get(\"climate_zone_id\")\nmsg.headers = {}\nmsg.headers = {\n    \"Ocp-Apim-Subscription-Key\":\"df605c5470d846fc91e848b1cc653ddf\",\n    \"Authorization\": \"Bearer \" + access_token\n}\nmsg.url = \"https://api.bdrthermea.net/Mobile/api/climate-zones/\" + climate_zone_id +\"/modes/fireplacemode\"\nmsg.payload = {\n    \"fireplaceModeActive\": fireplace_mode\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1160,"wires":[["c32bdccf532cfcae"]]},{"id":"c32bdccf532cfcae","type":"http request","z":"4aace384d33f0310","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":1160,"wires":[["48ecc388edde1a4c"]]},{"id":"39798a7ba140bc16","type":"inject","z":"4aace384d33f0310","name":"fireplace ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":1160,"wires":[["03b55e43ead3ca61"]]},{"id":"cfcf32f974d129e4","type":"comment","z":"4aace384d33f0310","name":"fireplace","info":"","x":100,"y":1120,"wires":[]},{"id":"c2dd5e0d74936a18","type":"comment","z":"4aace384d33f0310","name":"get all data from thermostat","info":"","x":160,"y":620,"wires":[]},{"id":"4fefe1e78092a84c","type":"comment","z":"4aace384d33f0310","name":"get token once","info":"","x":120,"y":100,"wires":[]},{"id":"b63c58b8d864ae7b","type":"comment","z":"4aace384d33f0310","name":"get refresh token every 1h","info":"","x":150,"y":480,"wires":[]},{"id":"2b69d70c3830efd3","type":"inject","z":"4aace384d33f0310","name":"fireplace OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":1200,"wires":[["03b55e43ead3ca61"]]},{"id":"d87fa97ee6d25fbf","type":"ui_text","z":"4aace384d33f0310","group":"9976b5302beaee3d","order":11,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload.active_thermal_mode}}","layout":"col-center","className":"","x":1070,"y":620,"wires":[]},{"id":"7b1a78a9d318ebd0","type":"comment","z":"4aace384d33f0310","name":"Set your BAXI email and password in step 2","info":"","x":470,"y":100,"wires":[]},{"id":"9976b5302beaee3d","type":"ui_group","name":"Baxi","tab":"76cc9b6be65eb7a0","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"76cc9b6be65eb7a0","type":"ui_tab","name":"Baxi","icon":"dashboard","disabled":false,"hidden":false}]